
.container {
	padding:10px;
	float:left;
}

.allpics {
	background-color: #C3B1E1;
	width: 550px;
	display:table;
}

h1 {
	background-color: #FDFD96;
	padding: 25px;
	width: 250px;
}

.facts {
	background-color: #D8F3E9;
	padding: 10px;
	width: 550px;
}

#moonbyulpic {
	height: 200px;
}